/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */

.item{
  margin-bottom: 20px;
}
.item .card-img-top{
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
}
.item .card{
  border-radius: 10px;
}
.price{
  font-weight: bold
}
.ori-price{
  color: #707070;
    text-decoration: line-through;
    font-size: 14px;
}

.title-category{
  margin: 10px
}