<div class="container">
  <div class="row">
    <div class="col-6">
      <form action="/san-pham/save-them/{{_id}}" method="post" enctype="multipart/form-data" id="form">
        <div class="form-group">
          <label for="">Thêm sản phẩm</label>
          <input type="text" name="name" id="name" class="form-control" placeholder="" required>
        </div>
        <div class="form-group">
          <label for="">Giá</label>
          <input type="number" name="price" id="price" class="form-control" placeholder="" required>
        </div>
        <div class="form-group">
          <label for="">Giá trước khuyến mại</label>
          <input type="number" name="old_price" id="old-price" class="form-control" placeholder="" required>
        </div>
        <div class="form-group">
          <label for="">Ảnh</label>
          <input type="file" name="image" id="file" class="form-control" placeholder="">
        </div>
        <div class="pull-right">
          <input type="button" id="" class="btn btn-primary" placeholder="" onclick="onSubmit()" value="Thêm">
          <a href="/" class="btn btn-danger">Huỷ</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="plugins/jquery/jquery.min.js"></script>
<script>
  function onSubmit() {
    let price = Number($("#price").val())
    let oldPrice = Number($("#old-price").val())
    if($("#name").val()==''){
      alert("Mời nhập tên sản phẩm")
    }else if (price > oldPrice) {
      alert("Giá phải nhỏ hơn giá trc khuyến mại")
    }else if($("#file").val()==''){
      alert("Mời chọn ảnh")
    }else {
      $("#form").submit()
    }
  }
</script>
